skip_existing_output_files = False
delete_input_files_after_process = False
use_CPU_instead_of_CUDA = False
floating_point_16 = False
cache_max_split_depth = True
binary_alpha = False
ternary_alpha = False
alpha_threshold =  0.5
alpha_boundary_offset =  0.2
alpha_mode = 'none'
verbose = False
customize_model_usage = ""
